In [1]:
from gridstatusio import GridStatusClient
import pandas as pd
import os

GS_KEY = os.environ["GS_API_KEY"]
client = GridStatusClient(GS_KEY)

## SPP

Two hubs in the lmp data. The by_bus dataset does not include hubs.

In [2]:
dfSPP = client.get_dataset(
    dataset = 'spp_lmp_real_time_5_min',
    start = '2024-04-01 00:00', 
    end = '2024-04-01 00:05',
    filter_column = 'location_type',
    filter_value = 'Hub')
dfSPP

Fetching Page 1...Done in 0.29 seconds.

Total number of rows: 2

,interval_start_utc,interval_end_utc,market,location,location_type,pnode,lmp,energy,congestion,loss
0,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,SPPNORTH_HUB,Hub,SPPNORTH_H,12.4283,11.2583,1.2922,-0.1222
1,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,SPPSOUTH_HUB,Hub,SPPSOUTH_H,-8.7672,11.2584,-19.2451,-0.7805

## MISO
MISO labels many nodes as "Hub" in the raw data, but there are a much smaller subset that are actually state-level Hubs which people look for. To get down to those we filter on the location_type_ of Hub and then further filter the dataset based on location.

In [3]:
dfMISO = client.get_dataset(
    dataset = 'miso_lmp_real_time_5_min',
    start = '2024-04-01 00:00', 
    end = '2024-04-01 00:05',
    filter_column = 'location_type',
    filter_value = 'Hub',)

dfMISOHubs = dfMISO[dfMISO['location'].str.contains('HUB')]
dfMISOHubs

Fetching Page 1...Done in 0.16 seconds.

Total number of rows: 406

,interval_start_utc,interval_end_utc,market,location,location_type,lmp,energy,congestion,loss
83,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,ARKANSAS.HUB,Hub,19.86,19.09,1.56,-0.79
264,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,ILLINOIS.HUB,Hub,9.64,19.09,-9.11,-0.34
265,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,INDIANA.HUB,Hub,27.19,19.09,7.19,0.91
279,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,LOUISIANA.HUB,Hub,21.19,19.09,2.02,0.08
310,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,MICHIGAN.HUB,Hub,26.60,19.09,6.10,1.41
311,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,MINN.HUB,Hub,12.15,19.09,-6.45,-0.49
319,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,MS.HUB,Hub,21.00,19.09,2.13,-0.22
388,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,TEXAS.HUB,Hub,20.49,19.09,1.70,-0.30

## ERCOT
ERCOT has 5 Hubs and also publishes two averages, one each for Buses and Hubs.

In [4]:
dfERCOT = client.get_dataset(
    dataset = 'ercot_spp_real_time_15_min',
    start = '2024-04-01 00:00', 
    end = '2024-04-01 00:15',
    filter_column = 'location_type',
    filter_value = 'Trading Hub')
dfERCOT

Fetching Page 1...Done in 0.14 seconds.

Total number of rows: 7

,interval_start_utc,interval_end_utc,location,location_type,market,spp
0,2024-04-01 00:00:00+00:00,2024-04-01 00:15:00+00:00,HB_BUSAVG,Trading Hub,REAL_TIME_15_MIN,19.96
1,2024-04-01 00:00:00+00:00,2024-04-01 00:15:00+00:00,HB_HOUSTON,Trading Hub,REAL_TIME_15_MIN,20.30
2,2024-04-01 00:00:00+00:00,2024-04-01 00:15:00+00:00,HB_HUBAVG,Trading Hub,REAL_TIME_15_MIN,20.13
3,2024-04-01 00:00:00+00:00,2024-04-01 00:15:00+00:00,HB_NORTH,Trading Hub,REAL_TIME_15_MIN,19.86
4,2024-04-01 00:00:00+00:00,2024-04-01 00:15:00+00:00,HB_PAN,Trading Hub,REAL_TIME_15_MIN,11.57
5,2024-04-01 00:00:00+00:00,2024-04-01 00:15:00+00:00,HB_SOUTH,Trading Hub,REAL_TIME_15_MIN,19.39
6,2024-04-01 00:00:00+00:00,2024-04-01 00:15:00+00:00,HB_WEST,Trading Hub,REAL_TIME_15_MIN,20.98

## CAISO
CAISO has 3 Trading Hubs in their LMP data.

In [5]:
dfCAISO = client.get_dataset(
    dataset = 'caiso_lmp_real_time_5_min',
    start = '2024-04-01 00:00', 
    end = '2024-04-01 00:05',
    filter_column = 'location_type',
    filter_value = 'Trading Hub')
dfCAISO

Fetching Page 1...Done in 0.48 seconds.

Total number of rows: 3

,interval_start_utc,interval_end_utc,market,location,location_type,lmp,energy,congestion,loss
0,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,TH_NP15_GEN-APND,Trading Hub,-3.99571,-3.29997,-0.70498,0.00924
1,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,TH_SP15_GEN-APND,Trading Hub,-3.16203,-3.29997,0.00000,0.13794
2,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,TH_ZP26_GEN-APND,Trading Hub,-3.14685,-3.29997,0.00000,0.15312

## PJM Hubs
As the largest market in the US, PJM also has a higher number of hubs than most markets.

In [6]:
dfPJM = client.get_dataset(
    dataset = 'pjm_lmp_real_time_5_min',
    start = '2024-04-01 00:00', 
    end = '2024-04-01 00:05',
    filter_column = 'location_type',
    filter_value = 'HUB')
dfPJM

Fetching Page 1...Done in 0.17 seconds.

Total number of rows: 12

,interval_start_utc,interval_end_utc,market,location,location_id,location_short_name,location_type,lmp,energy,congestion,loss
0,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,AEP-DAYTON HUB,34497127,AEP-DAYTON HUB,HUB,31.68,31.26,0.41,0.01
1,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,AEP GEN HUB,34497125,AEP GEN HUB,HUB,31.45,31.26,0.75,-0.56
2,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,ATSI GEN HUB,116013751,ATSI GEN HUB,HUB,31.46,31.26,0.46,-0.26
3,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,CHICAGO GEN HUB,33092311,CHICAGO GEN HUB,HUB,24.69,31.26,-5.18,-1.39
4,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,CHICAGO HUB,33092313,CHICAGO HUB,HUB,25.32,31.26,-4.94,-1.00
5,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,DOMINION HUB,35010337,DOMINION HUB,HUB,31.95,31.26,0.74,-0.05
6,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,EASTERN HUB,51217,EASTERN HUB,HUB,32.14,31.26,0.62,0.26
7,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,NEW JERSEY HUB,4669664,NEW JERSEY HUB,HUB,31.89,31.26,0.60,0.03
8,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,N ILLINOIS HUB,33092315,N ILLINOIS HUB,HUB,25.11,31.26,-5.01,-1.14
9,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,OHIO HUB,34497151,OHIO HUB,HUB,31.63,31.26,0.30,0.07
10,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,WESTERN HUB,51288,WESTERN HUB,HUB,32.12,31.26,0.64,0.22
11,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,WEST INT HUB,51287,WEST INT HUB,HUB,31.67,31.26,0.63,-0.22

## NYISO
NYISO doesn't calculate and publish hubs as a separate category. The market doesn't price at every bus, only at generators and the zonal level, so we will get the Zone names instead. This list includes external regions such as Ontario (OH) and Quebec (HQ).

In [7]:
dfNYISO = client.get_dataset(
    dataset = 'nyiso_lmp_real_time_5_min',
    start = '2024-04-01 00:00', 
    end = '2024-04-01 00:05',
    filter_column = 'location_type',
    filter_value = 'Zone')
dfNYISO

Fetching Page 1...Done in 0.52 seconds.

Total number of rows: 15

,interval_start_utc,interval_end_utc,market,location,location_type,lmp,energy,congestion,loss
0,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,CAPITL,Zone,20.13,19.58,-0.00,0.55
1,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,CENTRL,Zone,19.60,19.58,-0.00,0.02
2,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,DUNWOD,Zone,20.56,19.58,-0.00,0.98
3,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,GENESE,Zone,19.31,19.58,-0.00,-0.27
4,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,H Q,Zone,19.58,19.58,-0.00,0.00
5,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,HUD VL,Zone,20.48,19.58,-0.00,0.90
6,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,LONGIL,Zone,20.66,19.58,-0.00,1.08
7,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,MHK VL,Zone,20.15,19.58,-0.00,0.57
8,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,MILLWD,Zone,20.50,19.58,-0.00,0.92
9,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,NORTH,Zone,19.62,19.58,-0.00,0.04
10,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,NPX,Zone,19.92,19.58,-0.03,0.37
11,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,N.Y.C.,Zone,20.68,19.58,-0.00,1.10
12,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,O H,Zone,18.98,19.59,-0.00,-0.61
13,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,PJM,Zone,19.86,19.59,-0.00,0.27
14,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,WEST,Zone,19.39,19.59,-0.00,-0.20

## ISO-NE
ISO-NE only has a single internal Hub, so we will also query the Load Zones.

In [8]:
dfISONE = client.get_dataset(
    dataset = 'isone_lmp_real_time_5_min',
    start = '2024-04-01 00:00', 
    end = '2024-04-01 00:05',
    filter_column = 'location_type',
    filter_operator = 'in',
    filter_value = ['LOAD ZONE', 'HUB'])
dfISONE

Fetching Page 1...Done in 0.15 seconds.

Total number of rows: 9

,interval_start_utc,interval_end_utc,market,location,location_type,lmp,energy,congestion,loss
0,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,.H.INTERNAL_HUB,HUB,34.91,34.69,0.05,0.17
1,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,.Z.CONNECTICUT,LOAD ZONE,34.01,34.69,0.05,-0.73
2,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,.Z.MAINE,LOAD ZONE,34.01,34.69,-0.39,-0.29
3,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,.Z.NEMASSBOST,LOAD ZONE,35.27,34.69,0.05,0.53
4,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,.Z.NEWHAMPSHIRE,LOAD ZONE,34.98,34.69,0.05,0.24
5,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,.Z.RHODEISLAND,LOAD ZONE,34.81,34.69,0.05,0.07
6,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,.Z.SEMASS,LOAD ZONE,35.20,34.69,0.05,0.46
7,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,.Z.VERMONT,LOAD ZONE,34.63,34.69,0.05,-0.11
8,2024-04-01 00:00:00+00:00,2024-04-01 00:05:00+00:00,REAL_TIME_5_MIN,.Z.WCMASS,LOAD ZONE,34.84,34.69,0.05,0.10

Now let's print out the lists of locations from each market.

In [10]:
print('CAISO')
print(list(set(dfCAISO['location'])))
print('ERCOT')
print(list(set(dfERCOT['location'])))
print('SPP')
print(list(set(dfSPP['location'])))
print('MISO')
print(list(set(dfMISOHubs['location'])))
print('PJM')
print(list(set(dfPJM['location'])))
print('NYISO')
print(list(set(dfNYISO['location'])))
print('ISONE')
print(list(set(dfISONE['location'])))

CAISO
['TH_ZP26_GEN-APND', 'TH_NP15_GEN-APND', 'TH_SP15_GEN-APND']
ERCOT
['HB_NORTH', 'HB_PAN', 'HB_SOUTH', 'HB_WEST', 'HB_BUSAVG', 'HB_HUBAVG', 'HB_HOUSTON']
SPP
['SPPNORTH_HUB', 'SPPSOUTH_HUB']
MISO
['MINN.HUB', 'INDIANA.HUB', 'TEXAS.HUB', 'ARKANSAS.HUB', 'MS.HUB', 'ILLINOIS.HUB', 'MICHIGAN.HUB', 'LOUISIANA.HUB']
PJM
['WEST INT HUB', 'ATSI GEN HUB', 'N ILLINOIS HUB', 'AEP-DAYTON HUB', 'NEW JERSEY HUB', 'DOMINION HUB', 'EASTERN HUB', 'OHIO HUB', 'CHICAGO HUB', 'AEP GEN HUB', 'WESTERN HUB', 'CHICAGO GEN HUB']
NYISO
['H Q', 'HUD VL', 'CAPITL', 'MHK VL', 'N.Y.C.', 'WEST', 'LONGIL', 'CENTRL', 'GENESE', 'NPX', 'O H', 'DUNWOD', 'PJM', 'MILLWD', 'NORTH']
ISONE
['.H.INTERNAL_HUB', '.Z.VERMONT', '.Z.RHODEISLAND', '.Z.NEMASSBOST', '.Z.SEMASS', '.Z.WCMASS', '.Z.MAINE', '.Z.NEWHAMPSHIRE', '.Z.CONNECTICUT']