In [56]:
import sys, datetime
from gridstatusio import GridStatusClient
import pandas as pd
import os
import numpy as np

startCode = datetime.datetime.now()

os.environ["GRIDSTATUS_API_KEY"] = "API KEY HERE"

client = GridStatusClient()

def pull_data(datasetVal, startVal, endVal, tzVal, fCol, fVal, rVal):
    
    dfOut = client.get_dataset(
        dataset = datasetVal,
        start = startVal, 
        end = endVal, 
        tz = tzVal,
        filter_column = fCol,
        filter_value = fVal,
        resample=rVal
    )
    
    return(dfOut)

<b>Renewables Rollout</b>

One way to assess the increase in renewables across the US in real-time is via the fuel mix of respective ISOs. We also have a [Records page](https://www.gridstatus.io/records) and the ability to [set alerts](https://www.gridstatus.io/alerts) if there are specific thresholds of interest.

In [57]:
start = "2019-01-01"
end = "2024-03-25"

def monthly_renewable_growth(df, col1, col2):
    df['year'] = df['interval_start_local'].dt.year
    df['month'] = df['interval_start_local'].dt.month
    
    table = pd.pivot_table(fuelERCOT, values=[col1, col2], index=['year', 'month'],
                       aggfunc="sum", fill_value=0)
    #print(table)
    
    return(table)


dataset = 'ercot_fuel_mix'
fuelERCOT = pull_data(dataset, start, end, "US/Central", None, None, None)
ercotTable = monthly_renewable_growth(fuelERCOT, 'solar', 'wind')

dataset = 'spp_fuel_mix'
fuelSPP = pull_data(dataset, start, end, "US/Central", None, None, None)
sppTable = monthly_renewable_growth(fuelSPP, 'solar', 'wind')

dataset = 'caiso_fuel_mix'
fuelCAISO = pull_data(dataset, start, end, "US/Pacific", None, None, None)
caisoTable = monthly_renewable_growth(fuelCAISO, 'solar', 'wind')

Fetching Page 1...Done in 2.82 seconds.
Fetching Page 2...Done in 2.38 seconds. Total time: 5.2s. Avg per page: 2.6s
Fetching Page 3...Done in 2.4 seconds. Total time: 7.6s. Avg per page: 2.53s
Fetching Page 4...Done in 2.47 seconds. Total time: 10.07s. Avg per page: 2.52s
Fetching Page 5...Done in 2.51 seconds. Total time: 12.58s. Avg per page: 2.52s
Fetching Page 6...Done in 1.58 seconds. Total time: 14.16s. Avg per page: 2.36s

Total number of rows: 550052
Fetching Page 1...Done in 2.97 seconds.
Fetching Page 2...Done in 2.86 seconds. Total time: 5.83s. Avg per page: 2.91s
Fetching Page 3...Done in 3.1 seconds. Total time: 8.93s. Avg per page: 2.98s
Fetching Page 4...Done in 2.77 seconds. Total time: 11.7s. Avg per page: 2.93s
Fetching Page 5...Done in 2.96 seconds. Total time: 14.66s. Avg per page: 2.93s
Fetching Page 6...Done in 1.54 seconds. Total time: 16.2s. Avg per page: 2.7s

Total number of rows: 548323
Fetching Page 1...Done in 2.77 seconds.
Fetching Page 2...Done in 2.66 seconds. Total time: 5.43s. Avg per page: 2.71s
Fetching Page 3...Done in 2.77 seconds. Total time: 8.19s. Avg per page: 2.73s
Fetching Page 4...Done in 2.61 seconds. Total time: 10.8s. Avg per page: 2.7s
Fetching Page 5...Done in 2.93 seconds. Total time: 13.73s. Avg per page: 2.75s
Fetching Page 6...Done in 2.36 seconds. Total time: 16.09s. Avg per page: 2.68s

Total number of rows: 549974

<b>Curtailment</b>

SPP and CAISO examples here as they provide very direct access to this type of data. In other markets there are ways to calculate this that vary from very direct, but delayed (ERCOT, with the 60-Day SCED Generator data) to more indirect (NYISO, wind gen dropping off as constraints start hitting the Central-East interface). The indirect methods are generally applicable across markets, but the specifics (which areas to look at, which transmission lines matter) vary from market to market.

In [58]:
start = "2023-01-01"
end = "2024-03-25"


dataset = 'caiso_curtailment'
curtailCAISO = pull_data(dataset, start, end, "US/Central", None, None, None)
curtailCAISO['year'] = curtailCAISO['interval_start_local'].dt.year
curtailCAISO['month'] = curtailCAISO['interval_start_local'].dt.month

table = pd.pivot_table(curtailCAISO, values=['curtailment_mwh'], index=['year', 'month'],
                       columns = ['curtailment_type', 'curtailment_reason', 'fuel_type'],aggfunc="sum", fill_value=0)
table

Fetching Page 1...Done in 0.41 seconds.

Total number of rows: 12510

                   curtailment_mwh
curtailment_type          Economic                       SelfSchCut
curtailment_reason           Local         System             Local
fuel_type                    Solar   Wind   Solar   Wind      Solar Wind
year month
2023 1                       46938   2399    2612   1239          4    2
     2                      175981   9236   17413   1325          0    0
     3                      392559  17963  125125  13106          5    0
     4                      539153  21340  132507   9517        350    0
     5                      214054  13317  198665  22584        279   53
     6                      153081  16785   16835   3309        234    2
     7                       52825   1990    2680    177        187    0
     8                       46015    831    2201     59        162    0
     9                       71395   2376    1573    153        420   91
     10                     197631   6505    6493    280        439   42
     11                      58657   1645   10223    251          0    0
     12                      31119   2811     133     50          0    0
2024 1                       95113   5472     208     33        181    0
     2                      201318  14191   12233   1076         75    0
     3                      493107  35690    4581   1314         20    0

In [59]:
dataset = 'spp_ver_curtailments'
curtailSPP = pull_data(dataset, start, end, "US/Central", None, None, None)
curtailSPP['year'] = curtailSPP['interval_start_local'].dt.year
curtailSPP['month'] = curtailSPP['interval_start_local'].dt.month

table = pd.pivot_table(curtailSPP, values=['wind_redispatch_curtailments','wind_manual_curtailments',
                      'wind_curtailed_for_energy','solar_redispatch_curtailments',
                      'solar_manual_curtailments','solar_curtailed_for_energy'],
                       index=['year', 'month'],
                       aggfunc="sum", fill_value=0)
table

Fetching Page 1...Done in 2.03 seconds.
Fetching Page 2...Done in 0.86 seconds. Total time: 2.89s. Avg per page: 1.45s

Total number of rows: 129300

            solar_curtailed_for_energy  solar_manual_curtailments  \
year month
2023 1                         6387.80                          0
     2                         6506.66                          0
     3                        17154.59                          0
     4                        20445.15                          0
     5                          614.66                          0
     6                          396.01                          0
     7                            0.00                          0
     8                            3.21                          0
     9                          132.39                          0
     10                        1988.59                          0
     11                        6658.10                          0
     12                       11259.83                          0
2024 1                         2782.87                          0
     2                        24481.03                          0
     3                        24143.35                          0

            solar_redispatch_curtailments  wind_curtailed_for_energy  \
year month
2023 1                           17774.15                 2375750.64
     2                           34614.57                 2230922.21
     3                           65431.65                 3071102.50
     4                           76843.69                 4029435.24
     5                           34506.48                 1503737.37
     6                           13560.76                  519200.95
     7                            1312.79                  305403.05
     8                             894.58                  373619.41
     9                           13653.03                 1937651.99
     10                          49770.58                 2363963.80
     11                          34719.87                 2505481.60
     12                          39855.83                 2598036.03
2024 1                           25192.42                 1144524.55
     2                           69494.41                 2707494.49
     3                           69486.60                 4041790.38

            wind_manual_curtailments  wind_redispatch_curtailments
year month
2023 1                      36748.36                    9053965.40
     2                     101698.93                   11784127.91
     3                     153518.79                   14535034.87
     4                     480086.16                   18545143.14
     5                      20260.18                    4754681.74
     6                      29561.65                    2426515.34
     7                     102186.92                    2437190.97
     8                     205005.66                    2451357.32
     9                      47161.31                    8857075.24
     10                     14334.21                   14559800.78
     11                     31816.57                   12164602.39
     12                    163573.06                   10311543.14
2024 1                     113269.04                    9281395.29
     2                      15932.47                   12171168.68
     3                      28332.65                   13838899.53

<b>Battery Deployment</b>

CAISO and ERCOT have by far the most batteries and also the best reporting. Starting with fuel mix you'll see that CAISO's reporting standard is more useful for that type of view, since it measures both ways unlike ERCOT. Switching into their more direct datasets you can see that ERCOT's numbers become more useful. Although these storage-specific datasets have more limited history, they are useful in the going forward sense.

In [64]:
start = "2019-01-01"
end = "2024-03-25"


def monthly_battery_growth(df, col1):
    df['year'] = df['interval_start_local'].dt.year
    df['month'] = df['interval_start_local'].dt.month
    
    table = pd.pivot_table(df, values=[col1], index=['year', 'month'],
                           aggfunc={'min', 'max'}, fill_value=0)
    
    table.columns = [f'{col1}_min', f'{col1}_max']
    table = table.reset_index()
    
    return(table)


dataset = 'ercot_fuel_mix'
fuelERCOT = pull_data(dataset, start, end, "US/Central", None, None, None)
ercotTable = monthly_battery_growth(fuelERCOT, 'power_storage')
ercotTable

Fetching Page 1...Done in 2.55 seconds.
Fetching Page 2...Done in 2.73 seconds. Total time: 5.28s. Avg per page: 2.64s
Fetching Page 3...Done in 2.32 seconds. Total time: 7.59s. Avg per page: 2.53s
Fetching Page 4...Done in 2.7 seconds. Total time: 10.29s. Avg per page: 2.57s
Fetching Page 5...Done in 3.13 seconds. Total time: 13.42s. Avg per page: 2.68s
Fetching Page 6...Done in 1.71 seconds. Total time: 15.13s. Avg per page: 2.52s

Total number of rows: 550052

    year  month  power_storage_min  power_storage_max
0   2019      1                0.0                0.0
1   2019      2                0.0                0.0
2   2019      3                0.0                0.0
3   2019      4                0.0                0.0
4   2019      5                0.0                0.0
..   ...    ...                ...                ...
58  2023     11              989.1                0.0
59  2023     12              877.6                0.0
60  2024      1             1261.1                0.0
61  2024      2             1419.8                0.1
62  2024      3             1325.0                0.2

[63 rows x 4 columns]

In [65]:
dataset = 'caiso_fuel_mix'
fuelCAISO = pull_data(dataset, start, end, "US/Pacific", None, None, None)
caisoTable = monthly_battery_growth(fuelCAISO, 'batteries')
caisoTable

Fetching Page 1...Done in 2.91 seconds.
Fetching Page 2...Done in 2.72 seconds. Total time: 5.63s. Avg per page: 2.82s
Fetching Page 3...Done in 2.75 seconds. Total time: 8.38s. Avg per page: 2.79s
Fetching Page 4...Done in 2.55 seconds. Total time: 10.94s. Avg per page: 2.73s
Fetching Page 5...Done in 2.66 seconds. Total time: 13.6s. Avg per page: 2.72s
Fetching Page 6...Done in 1.44 seconds. Total time: 15.04s. Avg per page: 2.51s

Total number of rows: 549974

    year  month  batteries_min  batteries_max
0   2019      1            120           -108
1   2019      2            112           -117
2   2019      3            121           -123
3   2019      4            126           -118
4   2019      5            117           -109
..   ...    ...            ...            ...
58  2023     11           4891          -4714
59  2023     12           4237          -4587
60  2024      1           5488          -4754
61  2024      2           5625          -5876
62  2024      3           5454          -5540

[63 rows x 4 columns]

In [66]:
start = "2023-01-01"
end = "2024-03-25"

dataset = 'ercot_energy_storage_resources'
bessERCOT = pull_data(dataset, start, end, "US/Central", None, None, None)
bessERCOT['year'] = bessERCOT['time_local'].dt.year
bessERCOT['month'] = bessERCOT['time_local'].dt.month

ercotTable = pd.pivot_table(bessERCOT, values=['total_charging', 'total_discharging',], index=['year', 'month'],
                   aggfunc="sum", fill_value=0)
ercotTable

Fetching Page 1...Done in 0.64 seconds.

Total number of rows: 31660

            total_charging  total_discharging
year month
2023 12       -1045542.354         817297.907
2024 1        -1535688.685        1260556.638
     2        -1687418.803        1395513.250
     3        -1451265.983        1189166.710

In [63]:
dataset = 'caiso_storage'
bessCAISO = pull_data(dataset, start, end, "US/Pacific", None, None, None)
bessCAISO['year'] = bessCAISO['interval_start_local'].dt.year
bessCAISO['month'] = bessCAISO['interval_start_local'].dt.month

caisoTable = pd.pivot_table(bessCAISO, values=['supply', 'stand_alone_batteries', 'hybrid_batteries'],
                        index=['year', 'month'],
                       aggfunc={'min', 'max'}, fill_value=0)
caisoTable

Fetching Page 1...Done in 2.33 seconds.
Fetching Page 2...Done in 0.28 seconds. Total time: 2.61s. Avg per page: 1.3s

Total number of rows: 105681

           hybrid_batteries      stand_alone_batteries       supply
                        max  min                   max   min    max   min
year month
2023 3                  411 -382                  2703 -2339   2919 -2405
     4                  426 -428                  3189 -2490   3518 -2828
     5                  478 -444                  3123 -2312   3378 -2570
     6                  440 -443                  3896 -2822   4216 -3081
     7                  439 -406                  3806 -3185   4178 -3338
     8                  458 -439                  4443 -3536   4753 -3879
     9                  480 -391                  4764 -3521   5223 -3788
     10                 431 -415                  4624 -4169   4999 -4446
     11                 490 -459                  4606 -4428   4891 -4714
     12                 655 -518                  3725 -4293   4237 -4587
2024 1                  557 -477                  5004 -4578   5488 -4754
     2                  542 -453                  5330 -5534   5625 -5876
     3                  583 -498                  4947 -5245   5454 -5540